* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	background-color: rgb(18, 18, 18);
	margin: 0px;
	padding: 0px;
	height: 100vh;
	width: 100vw;
	display: flow-root;
}
@font-face {
	font-family: "sora";
	src: url("./assets/fonts/Sora/Sora-VariableFont_wght.ttf") format("truetype");
}
.header {
	margin: 2rem 7rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.personal-best {
	font-family: "sora";
	font-size: 1.125rem;
	line-height: 120%;
	display: flex;
	align-items: center;
	gap: 10px;
}
.white {
	color: white;
}
.grey {
	color: rgb(148, 148, 151);
}
main {
	display: grid;
	gap: 2rem;
}
.icon {
	display: flex;
	align-items: center;
	justify-content: center;
}
.icon img {
	height: 4rem;
	width: 4rem;
}
.display-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	padding-top: 1.5rem;
}
.display-text > h1 {
	color: white;
	font-family: "sora";
	font-size: 2.5rem;
	line-height: 136%;
	letter-spacing: 0.025rem;
}
.display-text > p {
	color: rgb(148, 148, 151);
	font-family: "sora";
	font-size: 1.25rem;
	line-height: 120%;
	letter-spacing: -0.038rem;
}
.stats {
	padding-top: 1.25rem;
	padding-bottom: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.25rem;
}
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1.25em;
}
.container {
	border: 1px solid rgb(58, 58, 58);
	border-radius: 8px;
	height: 92px;
	width: 160px;
	padding: 1rem 1.5rem;
	display: grid;
	gap: 0.75rem;
}
.headings {
	font-family: "sora";
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 120%;
	letter-spacing: -0.038rem;
	color: rgb(148, 148, 151);
}
.wpm {
	color: white;
	font-family: "sora";
	font-size: 1.5rem;
	line-height: 100%;
	letter-spacing: 0rem;
	font-weight: bold;
}
.accuracy {
	color: rgb(214, 77, 91);
	font-family: "sora";
	font-size: 1.5rem;
	line-height: 100%;
	letter-spacing: 0rem;
	font-weight: bold;
}
.characters {
	color: rgb(113, 113, 120);
	font-family: "sora";
	font-size: 1.5rem;
	line-height: 100%;
	letter-spacing: 0rem;
	font-weight: bold;
}
#total-chars {
	color: rgb(77, 214, 123);
}
#mistakes {
	color: rgb(214, 77, 91);
}
.actions {
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn {
	color: rgb(18, 18, 18);
	font-family: "sora";
	font-size: 1.25rem;
	line-height: 120%;
	letter-spacing: -0.3px;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 10px 16px;
	border-radius: 12px;
	border: none;
}
.btn > img {
	height: 20px;
	width: 20px;
}
.btn:hover {
	cursor: pointer;
	box-shadow: 0px 4px 5px rgb(155, 155, 155);
	transform: translateY(-2px);
}
button:active {
	transform: translateY(0px);
}
